:root {
  --window-header-border-top: #b4b4b4;
  --window-header-highlight: #e2e2e2;
  --window-header-background: linear-gradient(to bottom, #cfcfcf, #a8a8a8);
  --window-header-border-bottom: #515151;
  --window-header-border-side: #a8a8a8;
  --window-header-border-radius: 4px;
  --window-header-title-shadow: #cfcfcf;
  --control-panel-background: #ededed;
  --inset-frame-border-radius: 3px;
  --inset-frame-background: #e5e5e5;
  --inset-frame-border-side: #c7c7c7;
  --inset-frame-border-top: #ababab;
  --inset-frame-border-bottom: #d3d3d3;
  --focus-ring: #80a8d9;
  --lcd: linear-gradient(to bottom, #fcffea, #d5d9bd);

  --ruby: #b33423;
  --ruby-shadow: #8a4d47;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body, html {
  background: var(--control-panel-background);
  height: 100%;
  font-family: 'Noto Sans', 'Verdana', 'Helvetica', sans-serif;
  font-size: 12px;
}

button {
  /* default style is level with the background */
  cursor: pointer;
  box-shadow: 0 1px #fff3;
  border: 1px solid #0005;
  border-radius: 4px;
  padding: 0.1em 2em;
  background: linear-gradient(to bottom, #fff, #d0d0d0);
  text-transform: capitalize;
  text-shadow: 0 1px #fffa;
}

.rounded {
  border-radius: 99em;
}

button.raised {
  box-shadow: 0 1px 1px #0002;
  border: 1px solid #0007;
}

.glass, .raised.glass {
  --base-background: linear-gradient(to bottom, #fbfbfb, #fff 5%, #e4e4e4 39%, #ddd 40%, #e0e0e0 60%, #fff);
  border-bottom: 1px solid #0008;
  background: var(--base-background);
  background-blend-mode: darken;
}

.rounded.glass {
  background:
    var(--base-background),
    radial-gradient(circle closest-corner at 0 58%, #ddd 40%, #fff0 110%),
    radial-gradient(circle closest-corner at 100% 58%, #ddd 40%, #fff0 110%);
}

section.inset {
  border: 1px solid var(--inset-frame-border-side);
  border-top: 1px solid var(--inset-frame-border-top);
  border-bottom: 1px solid var(--inset-frame-border-bottom);
  border-radius: 3px;
  box-shadow: inset 0 1px 1px #0000001a;
  background: var(--inset-frame-background);
}

label.above {
  padding-left: 8px;
  margin-top: 12px;
  margin-bottom: 1px;
  font-size: 11px;
  letter-spacing: 0.0125em;
  display: block;
}

.window-header {
  border-radius: 4px 4px 0 0;
  border: 1px solid var(--window-header-border-side);
  border-top: 1px solid var(--window-header-border-top);
  border-bottom: 1px solid var(--window-header-border-bottom);
  box-shadow: inset 0 1px var(--window-header-highlight);
  background: var(--window-header-background);
  min-height: 23px;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  text-shadow: 0 1px var(--window-header-title-shadow);
}

.window-header > :nth-child(1),
.window-header > :nth-child(3) {
  flex-grow: 1;
}

.window-header > :nth-child(2) {
  flex-grow: 0;
}

.window-header > :nth-child(3) {
  text-align: right;
}

.gem.red {
  --base-color: #c02814;
  --specular-highlight-at-center: #fff;
  --specular-highlight-at-edge: #e6e0e000;
  --glow-1: #f9b6acff;
  --glow-2: #f9b6acdd;
  --glow-3: #f9b6ac88;
  --glow-4: #f9b6ac00;
  --shadow: #411;
  --border: #4c1c1f;
  --border-bottom: #844;
}

.gem.green {
  --base-color: #559b19;
  --specular-highlight-at-center: #fff;
  --specular-highlight-at-edge: #e0e6e000;
  --glow-1: #dbfd96ff;
  --glow-2: #dbfd96dd;
  --glow-3: #dbfd9688;
  --glow-4: #dbfd9600;
  --shadow: #121;
  --border: #1a3113;
  --border-bottom: #718f3e;
}

.gem.yellow {
  --base-color: #d88517;
  --specular-highlight-at-center: #fff;
  --specular-highlight-at-edge: #e6e6e000;
  --glow-1: #fdfc92ff;
  --glow-2: #fdfc92dd;
  --glow-3: #fdfc9288;
  --glow-4: #fdfc9200;
  --shadow: #331;
  --border: #62432c;
  --border-bottom: #918e38;
}

.gem {
  width: 14px;
  height: 14px;
  border-radius: 99em;
  background:
    radial-gradient(ellipse at center, var(--specular-highlight-at-center) 25%, var(--specular-highlight-at-edge) 90%),
    radial-gradient(ellipse at center, var(--glow-1) 10%, var(--glow-2) 25%, var(--glow-3) 52%, var(--glow-4) 80%),
    linear-gradient(to bottom, var(--base-color), var(--base-color));
  background-size: 95% 41%, 100% 100%, 100% 100%;
  background-position: 50% -12%, 50% 5px, 0 0;
  background-repeat: no-repeat, no-repeat, no-repeat;
  box-shadow: inset 0 1px 1px var(--shadow), 0 1px #d0d0d0;
  border: 1px solid var(--border);
  border-top: 1px solid #111;
  border-bottom: 1px solid var(--border-bottom);
}

.aqua {
  --base-background: linear-gradient(to bottom, #d0e0f4, #acccee, #98c1e9, #8fbbe8, #8cbbe8, #87b8e9, #87b8ea 50%, #6aaaeb 51%, #75b3f0, #7fbaf5, #88c5ff, #91cdff, #9cd8ff, #abeaff, #b8faff);
  background: var(--base-background);
  text-shadow: none;
}

.aqua.raised {
  background:
    radial-gradient(circle closest-corner at 0 50%, #6aaaeb 10%, #6aaaeb00 70%),
    radial-gradient(circle closest-corner at 100% 50%, #6aaaeb 10%, #6aaaeb00 70%),
    var(--base-background);
}

button.aqua {
  border-top: 1px solid #444;
}
